---
type Space = '3xs' | '2xs' | 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl';

interface Props {
  top?: Space;
  bottom?: Space;
  width?: 'wide' | 'content' | 'prose';
  id?: string | undefined;
  labelledby?: string | undefined;
}
const {
  top = 'xl',
  bottom = 'xl',
  width = 'wide',
  id,
  labelledby,
} = Astro.props;
---

<section
  id={id}
  aria-labelledby={labelledby}
  style={`--sec-top: var(--space-${top}); --sec-bottom: var(--space-${bottom});`}
>
  <div class:list={['container', width !== 'wide' && `container--${width}`]}>
    <slot />
  </div>
</section>

<style>
  section {
    padding-block: var(--sec-top) var(--sec-bottom);
  }
</style>
